<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html data-ng-app="orionApp">
<head>
    <title>ORION::Dynamisk shoppinglista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="Content/css/bootstrap.min.css" rel="stylesheet">
	<link href="Content/css/style.css" rel="stylesheet">
</head>
<body>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
	<script src="Content/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    <!-- App libs -->
    <script src="app/app.js"></script>
    <script src="app/controllers/ShoppingListControllers.js"></script>
    <script src="app/controllers/ModalControllers.js"></script>
    <script src="app/services/mainService.js"></script>
    <div data-ng-view>
    </div>
	<div data-ng-controller="ModalController">
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" name="modaltitle"></h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
</body>
</html>