<div data-ng-controller="ShoppingListsController" style="margin-left:3em;">
  <form name="listForm" data-ng-submit="createList()">
  <div class="wrapper">
  	<div class="quarterwrapper">
      <input type="text" name="userName" class="form-control" style="max-width: 500px;" placeholder="Ange ett namn" data-ng-model="list.name" />
     </div>
     <div class="quarterwrapper">
     <select class="form-control" style="max-width:200px" data-ng-model="list.status">
      <option value="">  Välj status  </option>
       <option data-ng-repeat="status in statuses" value="{{status.value}}">{{status.name}}</option>
    </select>
    </div>
    <div class="quarterwrapper">
    <fieldset>
    	<legend class="pointer" data-ng-click="showme=!showme">Påminnelse <i class="glyphicon glyphicon-time"></i></legend>
	    <div data-ng-controller="DatepickerController" data-ng-show="showme">
	            <p class="input-group">
	              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" 
	              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Stäng" clear-text="Rensa" current-text="Idag"/>
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>	
	     </div>
     	     <div ng-controller="TimepickerController" data-ng-show="showme">
  				<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
			</div>
	</fieldset>
	</div>
     <div class="quarterwrapper">
    	<button class="btn btn-default">Skapa</button>
    </div>
    </div>
  </form>
 </div>
  <div style="width:40em;">	
	 <h3>Shoppinglistor&nbsp;&nbsp;<span class="badge">{{filtered.length }}</span></h3>&nbsp;&nbsp;&nbsp;<a href="#/shoppinglists" data-ng-click="filter = {status:1,status:0}">Visa inaktiva</a>
	<div class="list-group">
	<span data-ng-repeat="list in filtered = (shoppinglists | filter: filter || 1 )" class="list-group-item" data-ng-mouseenter="delete=true" data-ng-mouseleave="delete=false">
      <a href="#/shoppinglists/{{list.id}}">
        <h4 class="list-group-item-heading" style="width:70%">{{list.name}}&nbsp;&nbsp;</h4>
        <p data-ng-show="list.reminder != null" class="list-group-item-text"><i class="glyphicon glyphicon-time"></i>&nbsp;{{list.reminder}}</p>
        <p data-ng-show="list.created != null" class="list-group-item-text"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;{{list.created}}</p>
      </a>
            <a style="color:#d9230f;float:right;z-index:10;margin-top:-20px" data-ng-show="delete" data-ng-hide="!delete" class="pointer glyphicon glyphicon-trash"
             data-ng-really-message="Är du säker på att du vill ta bort listan?" data-ng-really-click="deleteList(list)" item="list"></a>
    </div>
</div>



